<div class="screen_frame">
  <%= link_to [@project, @feature, screen.flow, screen] do %>
    <%= image_tag(screen.image.url(:thumb), :width => "100") %>
  <% end %>

  <div class="screen_controls">
    <%= link_to "Delete", [@project, @feature, screen.flow, screen],
      :confirm => "Are you sure you want to delete this image?",
      :method => :delete %>
  </div>
</div>
