/* =colors
   --------------------------------------------------------------- **
** #003366 - link color
** #888888 - link visited
** --------------------------------------------------------------- */

/* =toc
** --------------------------------------------------------------- **
** general
** header
** main
** forms
** login
** projects
** screens
** --------------------------------------------------------------- */

/* =general
------------------------------------------------------------------ */
a:link,
a:hover,
a:active {
  color: #036;
}
a:visited {
  color: #888;
}
body {
  background: #fff;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {font-size: 180%}
h2 {font-size: 160%}
h3 {font-size: 140%}
h4 {font-size: 120%}
h5 {font-size: 100%}
p {
  margin: 1em 0;
}
p#notice, p#info,
p#alert, p#error {
  border: 2px solid #66CC66;
  padding: 5px 10px;
  line-height: 1.4;
}
p#notice {
  border-color: #66CC66;
  background-color: #CCFFCC;
  margin: 0 0 1em;
}
p#alert, p#error{
  border-color: #c00;
  background-color: #FFDFDF;
}
p#info {
  border: 2px solid #006EB3;
  background-color: #EFF9FF;
}
#main ul,
#main ol {
  margin: 1em 1em 1em 2em;
}
#main li {
  margin: 0.5em 0;
}

/* =header
------------------------------------------------------------------ */
#header {
  background: #555;
  padding: 10px 20px;
  border-bottom: 2px solid #000;
}
#header h1 {
  font-size: 180%;
}
#header h1 a:link,
#header h1 a:visited,
#header h1 a:hover,
#header h1 a:active {
  color: #fff;
  text-decoration: none;
}
#header_links {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 200%;
  color: #fff;
}
#header_links a:link,
#header_links a:visited,
#header_links a:hover,
#header_links a:active {
  color: #ddd;
  font-style: italic;
  font-size: 90%;
}
#header_links a:hover {
  text-decoration: none;
}

/* =main
------------------------------------------------------------------ */
#main {
  padding: 20px;
}
#main h2 {
  color: #555;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
#main h3,
#main h4 {
  margin: 1em 0 0;
}
h2 a:link,
h2 a:visited,
h2 a:hover,
h2 a:active {
  color: #333;
  text-decoration: none;
}
h2 a:hover {
  color: #036;
}

/* =forms
------------------------------------------------------------------ */
.field {
  margin: 1em 0;
}
a.inline_edit:link,
a.inline_edit:visited,
a.inline_edit:hover,
a.inline_edit:active {
  font-size: 70%;
  font-weight: normal;
  font-style: italic;
  color: #888;
}
a.inline_edit:hover {
  color: #036;
}
.actions {
  clear: both;
  margin-top: 1em;
}
#error_explanation {
  width: 600px;
  border: 2px solid #c00;
  margin: 0.5em 0;
}
#error_explanation h4 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0.4em 0.5em 0.2em;
  border-bottom: 1px solid #c00;
  background: #FFDFDF;
}

/* =login
------------------------------------------------------------------ */
body.sessions {
  background: #eee;
}
#login {
  width: 400px;
  margin: auto;
}
#login h2 {
  border-bottom: 0;
  font-size: 140%;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0.5em;
}
#login form {
  background: #fff;
  border: 1px solid #ccc;
  padding: 2em 2em 1em;
}
#login label {
  color: #888;
  font-size: 90%;
  font-style: italic;
}
#login input {
  width: 100%;
  font-size: 140%;
  color: #555;
}
#login .actions input {
  color: #000;
  width: auto;
}
#login p {
  margin: 0 0 1em;
}

/* =projects
------------------------------------------------------------------ */
ul#projects {
  list-style-type: none;
  margin-left: 0;
}
.project_controls {
  float: right;
  line-height: 1.6;
}
p.description {
  margin-top: 0.5em;
}

/* =screens
------------------------------------------------------------------ */
#main ul.screens {
  list-style-type: none;
  margin-left: 0;
}
ul.screens li {
  float: left;
}
ul.screens li img {
  padding: 3px;
  background: #fff;
  border: 1px solid #ccc;
  margin: 5px;
}