<div id="footer">
  <p>
    UX Lab is another <%= link_to "RMU", "http://university.rubymendicant.com" %> project
  </p>
  <p class="fork_it">
    <% github_url = "https://github.com/coxandrew/uxlab" %>
    <%= link_to "fork uxlab", github_url %> on
    <%= link_to image_tag("github_icon.png"), github_url %>
  </p>
</div>