<li>
  <div class="project_controls">
    <%= link_to "Edit", edit_project_path(project) %> |
    <%= link_to "Delete", project,
      :method => :delete,
      :confirm => "Are you sure you want to delete project #{project.name}? This cannot be undone" %>
  </div>
  <h3><%= link_to project.name, project %></h3>
  <p class="description">
    <%= project.description %>
  </p>
</li>
