<h2>Projects</h2>

<hr />

<% if @projects.any? %>
  <ul id="projects">
    <%= render @projects %>
  </ul>
<% else %>
  <p>
    You have no projects.
  </p>
<% end %>

<% if can? :create, Project %>
  <%= link_to 'New Project', new_project_path %>
<% end %>
