<% if @project.features.any? %>
  <h2>Features</h2>

  <ul id="features">
    <%= render @project.features %>
  </ul>
<% end %>

<p>
  <%= link_to "Add feature", new_project_feature_path(@project.id) %>
</p>
